html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  margine: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}

/* header */
header {
  height: 60px;
  color: #666666;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #666666;
}

/* Main */
main {
  max-width: 780px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  font-size: 32px;
  margin: 24px 0 8px;
}

h3 {
  font-size: 21px;
  margin: 0px 0px 8px;
  font-weight: 500;
}

section {
  margin-bottom: 48px;
}

p {
  color: #666666;
}

/* personal Info */
.avatar {
  text-align: center;
}
.avatar-img {
  height: 200px;
  border-radius: 50%;
}
.name {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}
.social-media {
  text-align: center;
  margin-bottom: 20px;
}
.social-media-link {
  color: #999999;
  text-decoration: none;
  margin: 0px 5px;
}
.social-media-link:hover {
  color: skyblue;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px; /* 內容置中 */
  letter-spacing: 2px; /* 字元間距 */
  color: #1e90ff;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #1e90ff;
}

/* skill section */
.skills {
  display: flex;
  flex-direction: column;
}
.skill {
  width: 100%;
  border-top: 1px solid #999999;
  padding-top: 16px;
}
.skill-name,
.job-title {
  font-weight: 800;
}
.skill .gap {
  color: #1e90ff;
  padding: 0 5px;
}

/* Experience */
hr {
  border: 0px;
  height: 1px;
  background-color: #cccccc;
  margin: 20px 0px;
}
.icons {
  display: flex;
  flex-direction: column;
}
.company,
.duration {
  margin: 5px 0px;
  color: #666666;
  font-size: 12px;
  margin-right: 20px;
}
.fa-building,
.fa-calendar-alt {
  margin-right: 5px;
}
.job-experience {
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  /* skill section */
  .skills,
  .icons {
    flex-direction: row;
    justify-content: space-between;
  }
  .skill {
    width: 30%;
  }
}
